.day{
    //border: 1px solid darkgray;
    height: 50px;
    //border-radius: 999px;
}

.day:hover{
    background-color:rgb(211, 211, 211);
}

.disabled{
    //border: 1px dashed lightgray;
    color: darkgray;
}
.weekend{
    background-color: #eeeeee;
}

.worked{
    background-color: lightblue;
}

.half{
    background: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 10px,
        lightblue 10px,
        lightblue 20px
    );
}

button{
    width:100%;
    padding: 0px;
}