.day{
  visibility: visible;
  height: 50px;
  /* border: 1px solid darkgray;
   border-radius: 999px;*/
}

/* .day:hover{
    background-color:rgb(211, 211, 211);
} */

.disabled{
    /* border: 1px dashed lightgray; */
    color: darkgray;
}

.weekend{
    background-color: #eeeeee;
}

.worked{
    background-color: lightblue;
}

.half{
    background: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 10px,
        lightblue 10px,
        lightblue 20px
    );
}

button{
    width:100%;
    padding: 0px;
}

.date{
   color: grey;
}

.timeClocked{
  width:80%;
  height:10px;
  font-size: 8px;
  /* background-color: darkblue; */
}

.onCall{
  width:80%;
  height:10px;
  background-color: lightgoldenrodyellow;
  font-size: 8px;
}
