<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="closeSidenav()">         <mat-icon>home</mat-icon> Home   </a>
  <a mat-list-item routerLink="/signup" (click)="closeSidenav()">   <mat-icon>face</mat-icon> Signup</a> 
  <a mat-list-item routerLink="/login" (click)="closeSidenav()">    <mat-icon>vpn_key</mat-icon>Login</a> 
  <a mat-list-item routerLink="/timesheet" (click)="closeSidenav()"><mat-icon>update</mat-icon>Timesheet</a>
  <a mat-list-item routerLink="/settings" (click)="closeSidenav()"><mat-icon>settings</mat-icon>Settings</a>
  <mat-list-item>
      <button mat-icon-button (click)="closeSidenav()">
              <mat-icon>eject</mat-icon>Logout
      </button>
  </mat-list-item>
</mat-nav-list>