<section  fxLayout="column" >
  <section fxFlex fxLayout fxLayoutAlign="center" >
    <ul fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
      <li><a (click)="changeDate(-12)" >&lt;&lt;</a></li>
      <li><a (click)="changeDate(-1)">&lt;</a></li>
      <li>{{monthToShow.format('MMM') }} - {{monthToShow.year()}}</li>
      <li><a (click)="changeDate(1)">&gt;</a></li>
      <li><a (click)="changeDate(12)">&gt;&gt;</a></li>
    </ul>
    <button mat-fab color="accent" (click)="onSelectAll()">Select All</button>
    <button mat-fab color="primary" (click)="onClearAll()">Clear</button>
  </section>
  <section class="body" fxLayout="row wrap">
    <div class="dayHeader" *ngFor="let day of dayCols">{{day}}</div>
    <app-day *ngFor="let day of days" [day]="day">{{day}}</app-day>
  </section>
  <div class="footer" fxLayout>
    <h2>Total {{getTotalWorked()}}</h2>
    <app-day [day]="full" (click)="selelctAll('full')">Full day</app-day>
    <app-day [day]="half" (click)="selelctAll('full')">Half day</app-day>
  </div>

</section>
