/*.container{
    display:flex;
    flex-flow: column nowrap;
}

.header{
    display:flex;
    flex-flow: row wrap;
}

.body{
    display:flex;
    flex-flow: row wrap;
}
*/

button{
    white-space: normal;
    padding: 0 0;
}

.thin {
  min-width: 25px;
}

.mat-fab .mat-button-wrapper{
    line-height: 14px;
}

.dayHeader{
    width:14%;
    text-align: center;
}

app-day{
    width:14%;
}

ul{
    list-style: none;
    width:100%;
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: darkblue;
}

a:hover,
a:active{
    color:lightblue;
}

.header {
  width: 60%;
}

.total {
  width: 60%;
}
